<header>
	<strong><%= link_to "tuarte", :back %> </strong>
	<ul class="navigation">
		<li> <strong> <%= current_user.name %> </strong> </li>
		<li> <%= link_to "Edita tu perfil" ,  edit_user_registration_path %></li>
		<li> <%= link_to "Cerrar Sesión", destroy_user_session_path %> </li>
	</ul>
</header>


