<%= render '/locals/private_header' %>

<div id='main'>	
<article>
    <p>EDITA TU PERFIL EN <strong> TUARTE </strong> </p>
    <p><small> Todos los campos marcados con * son obligatorios </small></p>
	<%= render 'form', local: @local %> 	
</article>

<nav ></nav>
<aside></aside>
</div>