<%= render '/locals/private_header' %>
<div class="register sign_up last_register_local">
    <p>EDITA TU PERFIL EN <strong> TUARTE </strong> </p>
    <p><small> Todos los campos marcados con * son obligatorios </small></p>
	<%= render 'form', local: @local %> 
	
</div>