
<div class="register sign_up last_register_artists">
    <p>REGÍSTRATE EN <strong> TUARTE </strong> </p>
    <p><small> Todos los campos marcados con * son obligatorios </small></p>

	<%= render "form", local: @local %> 
	
</div>