<p> <%= image_tag current_user.avatar.url(:medium) %> </p>


<div class="clearfix">

	<aside class="my_aside">
		<p> Aquí irán los filtros </p>
	</aside>

	<section class="my_section">
		<p> Los resultados </p>
	</section>

	

</div>