<p> <%= image_tag current_user.avatar.url(:medium) %> </p>


<div class="clearfix">
	<section class="my_section">
		<p> Section </p>
	</section>

	<aside class="my_aside">
		<p> Aside content </p>
	</aside>

</div>