<%= render '/artists/private_header' %>

<div id='main'>	
<article>
    <h1>EDITA TU PERFIL EN <strong> TUARTE </strong> </h1>
    <p>Todos los campos marcados con * son obligatorios</p>
	<%= render 'form', artist: @artist %> 
</article>

		    <nav ></nav>
	    
	    	<aside></aside>
 		</div>

