<%= render 'header' %>
<div class="welcome">
	<h1> ¡Enhorabuena! </h1>
	<h3> Has subido una correctamente a <strong>tuarte</strong> </h3>
	<h4> En cualquier momento puedes añadir más obras a tu catálogo</h4>
	<h4> <%= link_to "Volver", home_artist_path(current_user.artist)%></h5>
</div>