
<article class="center color-grey container-height">

	<ul class="flex-container">	
	  <li class="flex-item">
	  		<h1> ¡Bienvenido a <strong> tuarte</strong>! </h1>
			<h3> Para empezar a disfrutar de todo lo que podemos ofrecerte, 
			<strong><%= link_to "Edita tu perfil", edit_user_registration_path %></strong> 
			para que sepamos quién eres y que es lo mejor que tenemos para tí.</h3>
		</li>
	</ul>

	<%= image_tag("Welcome-Sign-Board.png") %>
	
</article>

