<div class="description">

<h1> <strong>tuarte </strong> te ofrece </h1>

<p> Si eres un <strong>artista</strong>, te enseñamos los locales que más se ajustan a tus características.


Para ello, tendrás que "etiquetar tu arte" (decirnos si eres <strong>arquitecto</strong>, <strong>escultor</strong>, <strong>pintor</strong>, <strong>fotógrafo</strong> o si te dedicas a las <strong> artes visuales </strong>) y darnos un poquito de información sobre tu forma de trabajar.</p>

<p> Si eres un <strong> museo </strong>, una <strong> galería </strong>, un <strong> café temático</strong>,... tendrás que indicarnos con qué tipos de artistas sueles trabajar y qué característis tiene tu local.</p>

<p> <strong> ¡Tenemos mucho que enseñarte! </strong> </p>

</div>