<div class="register">
	<p> REGÍSTRATE EN <strong> TUARTE </strong> </p>

	<p> <button type="button" class="btton_register"> <%=link_to "Artistas", new_user_registration_path%> </button> </p>
	
	<p> <button type="button" class="btton_register"> <%= link_to "Galerías, cafés,...", home_path %> </button> </p>
	<p> <small> ¿Ya tienes una cuenta? <%= link_to "Inicia Sesión", new_user_session_path %> </small> </p>
</div>