<div class="register">
	<p> REGÍSTRATE EN <strong> TUARTE </strong> </p>

	<p> <button type="button" class="botton_register"> <%=link_to "Artistas", home_path %> </button> </p>
	<p> <button type="button" class="botton_register"> <%= link_to "Galerías, cafés,...", home_path %> </button> </p>
	<p> <small> ¿Ya tienes una cuenta? <%= link_to "Inicia Sesión", sign_in_path %> </a> </small> </p>
</div>