<article class="center">
	<h1> REGÍSTRATE EN <strong> TUARTE </strong> </h1>

	<p> <button type="button" class="btton_register button-register" value="artist"> <%=link_to "Artistas", new_user_registration_path(:form_role => 'Artist')%> </button> </p>
	
	<p> <button type="button" class="btton_register button-register" value="local"> <%= link_to "Galerías, cafés,...", new_user_registration_path(:form_role => 'Local') %> </button> </p>
	<p class="ya-tienes-cuenta"> ¿Ya tienes una cuenta? 
	<strong><%= link_to "Inicia Sesión", new_user_session_path %></strong> </p>
</article>