/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */



@import "bootstrap-sprockets";
@import "bootstrap";

@import "flaticon.css";


$background_color: gainsboro;
$color_where_am_i: MintCream;
$footer_and_header_color: darkseagreen;

$color: white;
$color_nav_a: #808080;

$width_device: 100%;
$register_width: $width_device/4;
$height_header: 75px;
$height_footer: 75px;

@import "style.scss";

html {
 position: relative;
 min-height: 100%;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,200);


body{
	font-family: 'Raleway', sans-serif;
	background: $color_where_am_i;
	color: $color;
  margin-bottom: 60px;
}

label{
	display: block;
}

.container{
  content: " ";
	width: $width_device;
	height: 675px;
  	margin: 0 auto;
  	background: $background_color;
  	text-align: center;
  	font-size: 40px;
  	padding: 0px;
}

.home_container{
  content: " ";
  width: $width_device;
  height: auto;
    margin: 0 auto;
    background: $background_color;
    text-align: center;
    font-size: 40px;
    padding: 0px;
}



.show_container{
  width: $width_device;
  height: auto;
    margin: 0 auto;
    background: $background_color;
    text-align: center;
    font-size: 40px;
    padding: 0px;
}

.big_container{
	width: $width_device;
	height: 1750px;
  	margin: 0 auto;
  	background: $background_color;
  	text-align: center;
  	font-size: 40px;
  	padding: 0px;
}


.header:before {
  content: " ";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -5px;
}

.header {
  background: $footer_and_header_color;
  height: $height_header;
  width: $width_device;
  margin: 0 auto;
}

.header > span{
	font-weight: 900;
	float: left;
	padding-left: 20px;
}

.header > span a{
	color: $color;
	text-decoration: none;
}

.header > span a:hover{
	color: $color_nav_a;
	text-decoration: none;
}

@media all {
nav {
	font-weight: 400;
	float: right;
	padding-right: 20px;
	font-size: 1.3vw;	
}
.header ul li{
	clear: both;
	display: inline-block;	
	padding-top: 15px;
	margin-right: 20px;
}

.header ul li a{
	color: $color;
	text-decoration: none;
}

.header ul li a:hover{
	color: $color_nav_a;
	text-decoration: none;
}

}

.footer:before {
  content: " ";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -5px;
}

@media all {
.footer{
	background: $footer_and_header_color;
  	height: $height_footer;
  	width: $width_device;
  	margin: 0 auto;
  	text-align: center;
  	font-size: 1.1vw;
    position: absolute;
    bottom: 0;
    padding-top: 38px;
}
}




/*  FLEX */

body {
   font: 24px;
    font-family: 'Raleway', sans-serif;

   background: white;
  }

  #main {
   min-height: 550px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   color: white;
   }
 
  #main > article {
   margin: 4px;
   padding: 5px;
   color: grey;
   /*border: 1px solid #cccc33;
   border-radius: 7pt;*/
   background: white;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }
  
  #main > nav {
   margin: 4px;
   padding: 5px;
   /*border: 1px solid #8888bb;
   border-radius: 7pt;*/
   background: white;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
   }
  
  #main > aside {
   margin: 4px;
   padding: 5px;
   /*border: 1px solid #8888bb;
   border-radius: 7pt;*/
   background: white;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   }
 
  header, footer {
   font-size: 20px;
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 50px;
  /* border: 1px solid #eebb55;
   border-radius: 7pt;*/
   background: darkseagreen;
   color: white;
   }

   header a{
    color: white;
   }

   header a:hover{
    text-decoration: none;
    color: grey;
   }

   footer{
    min-height: 75px;
    text-align: center;
    font-size: 15px;
}

 
  /* Too narrow to support three columns */
  @media all and (max-width: 640px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #main > nav, #main > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
   }
  }

  .navigation {
  list-style: none;
  margin: 0; 
  
  background:darkseagreen ;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  color: $background_color;
}

.que-es-tuarte{
  font-size: 28px;
  color: grey;
  text-align: justify;
}

.center{
  text-align: center;
}

.button-register{
  width: 300px;
  margin-top: 40px;
}

.button-register a{
  color: white;
  font-size: 18px;
}

.button-register a:hover{
  color: gainsboro;
  text-decoration: none;
}

.ya-tienes-cuenta{
  margin-top: 40px;
}

.ya-tienes-cuenta a{
  color: black;
}

.ya-tienes-cuenta a:hover{
  color: $footer_and_header_color;
  text-decoration: none;
}




@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 640px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }

  
}