$color_link_register: darkseagreen;
$box_color: grey;
$error_colors: lemonchiffon;

.register{
	content: " ";
	background: $box_color;
	width: $register_width;
	height: 200px;
	text-align: center;
	display: block;
	left: $width_device/2-$register_width/2;
	position: absolute;
	margin-top: 100px;
}


.sign_up{
	height: 475px !important;
}

.sign_up_step2{
	height: 1175px !important;
}

@media all {
.sign_up_step2 p small{
	color: white;
	font-size: 1vw !important;
}


.register p{
	margin-top: 10px;
	color: black;
	z-index: 1;	
	font-size: 1.5vw;
}

.register p small{	
	font-size: 1vw;
}

.register p a{
	color: $color;
	text-decoration: none;	
} 

.register p a:hover{
	color: black;
	text-decoration: none;
}

.last_register_artists {
	height: 300px !important;
}

.last_register_local {
	height: 600px !important;
}


}

.btton_register{
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 5px;
	width: $width_device - 20;
}

.sign_up{
	content: " ";
	background: $box_color;
	width: $register_width;
	height: 400px;
	text-align: center;
	display: block;
	left: $width_device/2-$register_width/2;
	position: absolute;
	margin-top: 125px;
}

.sign_up p a{
	color: $color;
	text-decoration: none;	
} 

.sign_up p a:hover{
	color: black;
	text-decoration: none;
}


@media all {


.my_field{
	font-weight: 200;
	color: black;
	font-size: 1.2vw;
	padding-bottom: 20px;	
}

}

input, button, select, textarea{
	border-radius: 5px;
	width: $width_device - 20;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
	-webkit-appearance: button;
	width: $width_device;
	background: $footer_and_header_color;
}

.errors{
	width: auto;
}

.errors p{
	font-size: 15px;
	color: $error_colors;
}

.errors ul{
	font-size: 15px;
    color: $error_colors
	
}

.checkbox label {
	text-align: left;
  	margin-left: 35px;
}


.clearfix:after{
	content: "";
	display: block;
	clear: both;	
}

.my_section{
	float: right;
	width: 960px;
	height: 700px;
	background: grey;
}

.my_aside{
	float: left;
	width: 400px;
	height: 700px;
	background: grey;

}


p img{
	width: 175px;
	height: 175px;
	border-radius: 50%;
}

.button{
	background: $footer_and_header_color;
	width: 288px;
	height: 30px;
	margin-left: 36px;
	border-radius: 5px;
	}