$color_link_register: darkseagreen;
$box_color: grey;
$error_colors: lemonchiffon;

.register{
	content: " ";
	background: $box_color;
	width: $register_width;
	height: 200px;
	text-align: center;
	display: block;
	left: $width_device/2-$register_width/2;
	position: absolute;
	margin-top: 100px;
}

.artist_local{
	margin-top: 200px;
}

.welcome{
	content: " ";
	background: $box_color;
	width: $register_width*2;
	height: 200px;
	text-align: center;
	display: block;
	left: $width_device/2-$register_width;
	position: absolute;
	margin-top: 100px;
	color: white;
}

.welcome a{
	color: darkseagreen;
	text-decoration: none;	
}

.welcome a:hover{
	color: black;
	text-decoration: none;	
}

.welcome h4 a{
	color: black;
	text-decoration: none;	
}

.welcome h4 a:hover{
	color: darkseagreen;
	text-decoration: none;	
}

.description{
	content: " ";
	background: $box_color;
	width: $register_width*3;
	height: 450px;
	text-align: center;
	display: block;
	position: absolute;
	margin-top: 75px;
	left: 175px;
}

.description p{
	font-size: 25px;
	margin-top: 40px;
	padding-left: 100px;
	padding-right: 40px;
	text-align: justify;
}


.sign_up{
	height: 475px !important;
	margin-top: 70px !important;
}

.sign_up_step2{
	height: 1475px !important;
}

@media all {
.sign_up_step2 p small{
	color: white;
	font-size: 1vw !important;
}


.register p{
	margin-top: 10px;
	color: black;
	font-size: 1.5vw;
}

.register p small{	
	font-size: 1vw;
}

.register p a{
	color: $color;
	text-decoration: none;	
} 

.register p a:hover{
	color: black;
	text-decoration: none;
}

.last_register_artist {
	height: 525px !important;
  	margin-top: 37px !important;
}

.last_register_local {
	height: 550px !important;
  	margin-top: 23px !important;
}


}

.btton_register{
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 5px;
	width: $width_device - 20;
}

.bttn_little{
	width:200px;
}

.sign_up{
	content: " ";
	background: $box_color;
	width: $register_width;
	height: 400px;
	text-align: center;
	display: block;
	left: $width_device/2-$register_width/2;
	position: absolute;
	margin-top: 125px;
}

.sign_up p a{
	color: $color;
	text-decoration: none;	
} 

.sign_up p a:hover{
	color: black;
	text-decoration: none;
}


@media all {


.my_field{
	font-weight: 200;
	color: black;
	font-size: 1.2vw;
	padding-bottom: 20px;	
}

}

input, button, select, textarea{
	border-radius: 5px;
	width: $width_device;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
	-webkit-appearance: button;
	width: $width_device;
	background: $footer_and_header_color;
}

.errors{
	width: auto;
}

.errors p{
	font-size: 15px;
	color: $footer_and_header_color;
}

.errors ul{
	font-size: 15px;
    color: $footer_and_header_color;
	
}

.checkbox label {
	text-align: left;
  	margin-left: 35px;
}


.clearfix:after{
	content: "";
	display: block;
	clear: both;	
}

.my_section{
	float: right;
	width: 960px;
	height: 600px;
    margin-right: 40px;
	background: grey;
}

.show-artist-information{
	height: auto;
	width: 900px;
}

.my_aside{
	float: left;
	width: 395px;
	height: 300px;
	background: grey;
	margin-left: 20px;
}

.my_aside p{
	font-size: 25px;
	border-bottom: 1px solid white;
}


.user img{
	display: inline-block;
	vertical-align: middle;
	margin-top: 25px;
	width: 175px;
	height: 175px;
	border-radius: 50%;

}

.user-home img{
	margin-left: 50px;
}

.background div{
	  width: 850px;
  	height: 542px;
	background-image: url("images/background-tuarte-width-1440.jpg") no-repeat center center fixed;
	
}


.button{
	clear: both;
	float: right;
	background: $footer_and_header_color;
	width: 288px;
	height: 30px;
	margin-top: 70px;
	margin-right: 36px;
	border-radius: 5px;
	font-size: 22px;
	width: 300px;
	}

.button a{
	color: white;
	text-decoration: none;
}

.button a:hover{
	color: grey;
	text-decoration: none;
}

.localization_button{
	color: black;
	padding-left: 47px;
	background: $footer_and_header_color;
	width: 288px;
	height: 30px;
	border-radius: 5px;
	font-size: 20px;
	}

.item-local{
	margin-bottom: 20px;
}

.item-media{
	float: left;
	margin-right: 20px;
	width: 75px;
	height: 50px;
	border: 50%;
}

.item-media-modal img{
	width:175px;
}
.black-size {
	color: black;
	font-size: 18px;
}



.description img{
	width:250px;
	height: 300px;
}

.item-txt{
	display:table;
	text-align: left;
}

.item-show{
	display:table;
	text-align: left;
}

.item-show p{
	font-size: 20px;
	margin-left: 120px;
}

.item-show p a{
	color: $footer_and_header_color;
	text-decoration: none;	
} 

.item-show p a:hover{
	color: black;
	text-decoration: none;
}

.item-show ul li{
	display: inline-block;
}

.item-show ul li a{
	color: $footer_and_header_color;
	text-decoration: none;
	font-size: 20px;
}

.item-show ul li a:hover{
	color: black;
	text-decoration: none;
}

.item-txt p{
	font-size: 15px;
}

.item-txt p a{
	color: $footer_and_header_color;
	text-decoration: none;	
} 

.item-txt p a:hover{
	color: black;
	text-decoration: none;
}

.additional-information p{
	font-size:30px;
}

.additional-information ul li{
	display: inline-block;
	font-size:25px;
}

.nueva {
	background: grey;
}

.add-work{
  background: $footer_and_header_color;
  margin-top: 30px;
  border-radius: 5px;
  padding: 22px;
}

.add-work a{
	color: white;
}

.add-work a:hover{
	color: grey;
	text-decoration: none;
}

