<div class="welcome">
	<h1> ¡Bienvenido a <strong> tuarte</strong>! </h1>
	<h3> Para empezar a disfrutar de todo lo que podemos ofrecerte, <strong>"Edita tu perfil"</strong> para que sepamos quién eres y que es lo mejor que tenemos para tí.</h3>
</div>