<p> <%= image_tag current_user.avatar.url(:medium) %> </p>
<%#= @local.you_are %>

<div class="clearfix">

	<aside class="my_aside">
		<p> ESTOY BUSCANDO... </p>
	</aside>

	<section class="my_section">
	<ul>
		<p> Los resultados </p>
		<%# artist.my_locals.each do |local| %>
			<li> <%#= local.name %> </li>
		<%# end %>
	</ul>
	</section>

	

</div>



	    