<p class="user">  <%= image_tag current_user.avatar.url(:medium) %> <span class="button"> <%= link_to "Añadir una Obra", new_artist_work_path(current_user.artist) if current_user.artist!=nil%> </span>
 </p>

<%#= @local.you_are %>

<div class="clearfix">

	<aside class="my_aside">
		<p> Aquí irán los filtros </p>
	</aside>

	<section class="my_section">
	<ul>
		<p> Los resultados </p>
		<%# binding.pry %>
		<%# current_user.artist.my_locals.each do |local| %>
			<li> <%#= local.name %> </li>
		<%#end %>
	</ul>
	</section>

	

</div>