<!DOCTYPE html>
<html lang="es">

	<head>
		  <meta charset="UTF-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">

		  <title>tuarte</title>

		  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>

		  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>
	</head>

	<body>
		<div class="container">
			<header class="header">
				<span> <%= link_to "tuarte", home_path %> </span>
				<nav>
					<ul>
						<li> <strong> <%= current_user.name if current_user.present?%> </strong> </li>
						<li> <%= link_to "Cerrar Sesión", destroy_user_session_path %> </li>
					</ul>
				</nav>

			</header>


			<div class="register sign_up last_register_local">
    			<p>REGÍSTRATE EN <strong> TUARTE </strong> </p>
    			<p><small> Todos los campos marcados con * son obligatorios </small></p>
				<%= render "form", local: @local %> 
			</div>
		</div>


		<footer class="footer">
			©COPYRIGHT 2015. LORENA - IRONHACK. TODOS LOS DERECHOS RESERVADOS
		</footer>

	</body>

</html>